/* Tout le contenu des pages */

* {
    box-sizing: border-box;
}

/* Body */

body {
    padding: 20px; 
}

.container {
    margin: auto;
    font-weight: bold;
}

/* Header */ /* Logos */ 

#logo {
    display: block;
    margin: auto;
    width: 13%;
    height: auto;
    padding: 10px 0px 15px 0px;
}

#logo_menu {
	display: flex;
	justify-content: center;
}

/* Bannière lieu page accueil */

.position {
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 11px 13px -12px #888888;
    background-color: #F2F2F2;
    height: 85px;
}

.position label {
    position: absolute;
	 top: -9999px;
 	 left: -9999px;
}

.position input {
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    border: none;
    background-color: #F2F2F2;
    margin: 15px 0 32px 103px;
}

.fas.fa-map-marker-alt {
    margin: 26px -84px 0 38px;
}

/* Titre et exploration */

.principal_title {
    font-family: roboto, sans-serif;
    text-align: center;
    font-size: 1.3rem;
    background-color: #F7F7F7;
    margin: -21px 0 0 0;
    padding: 35px 0 83px 0;
}

.explore {
    font-family: roboto, sans-serif;
    color: white;
    font-size: 1.2rem;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 3rem;
    box-shadow: 2px 7px 15px -6px grey;
    padding: 21px 48px 21px 48px;
    margin-top: 20px;
    border: none;
}

/* Fonctionnement */

.explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 30px;
}

.number_btn {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    color: #ffffff;
    background-color: #9356DC;
    border-radius: 3rem;
    margin: 0 0 0 -13px;
}

.number_btn p {
    font-weight: bold;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 2rem;
    box-shadow: 2px 7px 15px -13px grey;
    width: 33%;
    height: 100px;
    margin: 14px;
}

.btn i {
    color: #888888;
    margin: 0 60px 0 45px;
}

.btn a {
    font-size: 1.2rem;
}
/* Main */ /* Présentation des restaurants */

article {
    display: flex;
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    background-color: #F2F2F2;
    margin: 81px -20px 0px -19px;
}

article h1 {
    margin: -51px 600px 63px 0;
    font-size: 2rem;
}

nav {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 123px 0 0 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.card_choice {
    font-family: roboto, sans-serif;
    border-radius: 1rem;
    width: 71%;
    height: 525px;
    background-color: #ffffff;  
    margin: 0 0 45px 460px;
}

.card_choice h3 {
    margin: 16px 0 0 26px;
    font-size: 1.5rem;
}

.card_choice img {
    width: 100%;
    height: 395px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.new {
    background-color: #99E2D0;
    color: rgb(0, 143, 79);
    padding: 0.5rem;
    position: absolute;
    left: 1500px;
}

.site {
    margin: 21px 0 0 26px;
    font-size: 1.2rem;
}

.heart {
    font-size: 37px;
    color: #888888;
    position: absolute;
    left: 1555px;
    margin: -50px 0 0 0;
}

/* Footer */

.footer {
    background-color: #383838;
}

.logo-footer {
    font-family: shrikhand, sans-serif;
    color: #ffffff;
}

.links li {
    list-style-type: none;
}

.links ul li a {
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.links i {
    color: #ffffff;
}