/* Tout le contenu des pages */

* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-weight: bold;
}

    /*Page accueil*/  /* Body */

.container {
    margin: auto;
}

/* Header */  

#logo {
    display: block;
    margin: auto;
    width: 13%;
    height: auto;
    padding: 10px 0px 15px 0px;
}

/* Bannière lieu page accueil */

.position {
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 11px 13px -12px #888888;
    background-color: #F2F2F2;
    height: 85px;
}

.position label {
    position: absolute;
	 top: -9999px;
 	 left: -9999px;
}

.position input {
    font-size: 1.5rem;
    border: none;
    background-color: #F2F2F2;
    margin: 15px 0 32px 103px;
}

.fas.fa-map-marker-alt {
    margin: 26px -84px 0 38px;
}

/* Titre et exploration */

.principal_title {
    text-align: center;
    font-size: 1.3rem;
    background-color: #F7F7F7;
    margin: -21px 0 0 0;
    padding: 35px 0 83px 0;
}

.principal_title p {
    margin: 20px 0 20px 0;
}

.explore {
    color: white;
    font-size: 1.2rem;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 3rem;
    box-shadow: 2px 7px 15px -6px grey;
    padding: 21px 48px 21px 48px;
    margin-top: 20px;
    border: none;
}

/* Fonctionnement */

.explain {
    font-weight: bold;  
    font-size: 1.2rem;
    padding: 60px 0 100px 0;
}

.explain h2 {
    display: flex;
    justify-content: center;
}

.card_functioning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 80px;
}

.number_btn {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    color: #ffffff;
    background-color: #9356DC;
    border-radius: 3rem;
    margin: 0 0 0 -13px;
}

.number_btn p {
    margin: 15px 0 0 0;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 2rem;
    box-shadow: 2px 7px 15px -13px grey;
    width: 23%;
    height: 100px;
}

.btn i {
    color: #888888;
    margin: 0 60px 0 45px;
}

/* Main */ /* Présentation des restaurants */

#restaurants { 
    background-color: #F2F2F2;
    padding: 3rem 20rem;
}

section h2 {
    text-align: center;
    font-size: 2rem;
}

section a {
    text-decoration: none;
    color: black;
}

.all_cards {
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 93px 0 40px 0;
}

.card_choice {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 45em;
    height: 363px;
    background-color: #ffffff; 
    box-shadow: 2px 7px 15px -13px grey; 
    margin: 13px 20px 39px 45px;
    position: relative;
    z-index: 1;
}

.card_choice h3 {
    margin: 16px 0 0 26px;
    font-size: 1.5rem;
}

.card_choice img {
    width: 100%;
    height: 269px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.heart {
    font-size: 37px;
    color: #888888;
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 5%;
}

.new {
    background-color: #99E2D0;
    color: rgb(0, 143, 79);
    padding: 0.5rem;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 2;
}

.site {
    margin: 10px 0 0 25px;
    font-size: 1.2rem;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383838;
}

.footer a {
   text-decoration: none;
}

.logo-footer {
    font-family: shrikhand, sans-serif;
    font-weight: normal;
    color: #ffffff;
    margin: 18px 0 3px 30px;
}

.links li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 8px;
}

.links ul li a {
    text-decoration: none;
    color: #ffffff;
}

.links i {
    color: #ffffff;
    margin: 0 8px 0 0;
}

/*Page la palette du goût */

/* Body */

.container {
    margin: auto;
}

/* Header */

.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 20px;
}

.header-2 i {
    color: #383838;
    font-size: 2rem;
}

.logo-menus {
    margin: auto;
}

.logo-menus img {
    width: 60%;
    height: auto;
}

#banniere-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#banniere-menu img {
    width: 100%;
    height: 26em;
    object-fit: cover;
}

/* Menu La palette du goût */

.menu {
    background-color: #F2F2F2;
    position: relative;
    z-index: 2;
    border-radius: 2rem;
}

fieldset {
    border: none;
}

