@import "./utils/mixins";
@import "./utils/variables";
@import "./pages/accueil";
@import "./base/fondations";
@import "./layouts/header";
@import "./layouts/footer";
@import "./utils/keyframes";



/*Loader*/ 
.loader {
    position: fixed;
    inset: 0;
    z-index: 1;
    height: 100vh;
    @include center;
    background-color: $white;
    opacity: 0.9;
    gap: 10px;
    animation: end 1ms 3s forwards;
    @include desktop-only {
        gap: 15px;
    }
      &__bar {
          height: 3%;
          width: 5%;
          border-radius: 6rem;
          animation: bar $anim-duree backwards infinite;
          animation-direction: alternate;
          transform-origin: bottom;
          @include desktop-only {
              height: 4%;
              width: 2%;
          }
          @for $i from 1 through $bars {
              &:nth-child(#{$i}) {
                  animation-delay: $anim-delay * $i;
              }
              &:nth-child(1), &:nth-child(7) {
                  background-color: $colorsecondary;
              }
              &:nth-child(2), &:nth-child(5) {
                  background-color: $colorprimary;
              }
              &:nth-child(3), &:nth-child(6) {
                  background-color: $colortertiary;
              }
          }
      }
        & .logo__loader {
            width: 13rem;
        }
  
}

/*Pages des menus*/ /*Section menu*/ 

fieldset {
    @include column;
    align-items: center;
    background-color: $mediumgray;
    border: none;
    border-radius: 4rem 4rem 0 0;
    margin: -65px 0 0 0;
    position: relative;       
}

.title {
        h1 {
            @include shrikhand;
            font-weight: normal;
            margin: 30px 61px 5px 0;
        }
            i {
                font-size: 28px;
                color: $greyblack;
                position: absolute;
                right: 5%;
                cursor: pointer;
            }
            .fas {
                -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient($colorprimary, $colorsecondary);
                transition: opacity 250ms;
                opacity: 0; 
                -webkit-background-clip: text;
                        &:hover {                            
                        opacity: 1; 
                        } 
            }
}

.all_cards-menu {
    @include column;
    @include desktop-only {
        flex-direction: row;
        gap: 45px;
    }
}
.entrees, .plats, .desserts {
        gap: 20px;
}

.menu-type {
    text-transform: uppercase;
    padding: 0.5rem;
    border-bottom: 3px solid $colortertiary;
    width: 12%;
    font-weight: normal;
}

.cards_menu {
    overflow: hidden;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
    animation: appear 700ms both;
    transform-origin: bottom;
    display: flex;
    background-color: $white;
    border-radius: 1rem;
    @include card-shadow;
    width: 23em;
    height: 6em;
    margin: 0 0 20px 0;
    cursor: pointer;
    @include desktop-only {
        width: 23em;
        height: 86px;
    }
    @include mobile-only {
        width: 19em;
    }
        .cards__description {
            overflow: hidden;
            padding: 18px 0 0 12px;
            width: 21em;
            h3 {
                margin: 0;
                @include ellipsis;
            }
                p {
                    margin-top: 10px;
                    @include ellipsis;
                }
        }     
            .cards_menu--price {
                display: flex;
                align-items: flex-end;
                    font-weight: bold;
                    margin: 0 5px 28px 0;
                    @include desktop-only {
                    margin: 0 5px 15px 0;
                    }
            }
                .cards_menu--check {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    overflow: hidden; 
                    margin-right: -4em;
                    transition: all 0.5s linear;
                    transform-origin: right;
                    .cards_menu--icon {
                        @include center;
                        border-radius: 0 1rem 1rem 0;
                        height: 105px;
                        width: 0px;
                        background-color: $colortertiary;
                        transform-origin: right;  
                        @include desktop-only {
                            height: 86px;
                        }
                    }
                         i {
                            font-size: 1.5rem;
                            transition: transform 600ms;
                            color: $white;
                            }    
                    }
                    &:hover {
                        .cards_menu--check {
                            margin-right: 0;
                            transition: margin-right 0.5s linear;
                        }
                            .cards_menu--price {
                                margin: 0 5px 28px 0;
                                @include desktop-only {
                                    margin: 0 5px 15px 0;
                                }
                            }
                                .cards_menu--icon {
                                    width: 4rem;
                                }
                                    i {
                                        transform: rotate(360deg);
                                    }
                    }   
    }
    

.command_btn {
    color: $white;
    background: linear-gradient($colorsecondary, $colorprimary);
    font-size: 1.2rem;
    border-radius: 3rem;
    @include card-shadow;
    padding: 21px 48px 21px 48px;
    margin: 30px;
    border: none;
    cursor: pointer;
}
