/* Tout le contenu de la page */

* {
    box-sizing: border-box;
}

/* Body */

body {
    padding: 20px; 
}

.container {
    margin: auto;
}

/* Header */ /* Logo */

#logo {
    width: 50%;
    height: auto;
}

/* Bannière lieu */

.position {
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 11px 13px -12px #888888;
    background-color: #F2F2F2;
    height: 63px;
}

.position input {
    font-family: roboto, sans-serif;
}