/* Tout le contenu de la page */

* {
    box-sizing: border-box;
}

/* Body */

body {
    padding: 20px; 
}

.container {
    margin: auto;
}

/* Header */ /* Logo */

#logo {
    display: block;
    margin: auto;
    width: 13%;
    height: auto;
    padding: 10px 0px 15px 0px;
}

/* Bannière lieu */

.position {
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 11px 13px -12px #888888;
    background-color: #F2F2F2;
    height: 63px;
}

.position i {
    margin: 27px -84px 0 38px;
}

.position label {
    position: absolute;
	 top: -9999px;
 	 left: -9999px;
}

.position input {
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: #F2F2F2;
    margin: 15px -52px 12px 105px;
}

/* Titre et exploration */

.principal_title {
    font-family: roboto, sans-serif;
    text-align: center;
    font-size: 1.3rem;
    background-color: #fff1f1;
    margin: -21px 0 0 0;
    padding: 35px 0 83px 0;
}

.explore {
    font-family: roboto, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 3rem;
    box-shadow: 2px 7px 15px -6px grey;
    padding: 21px 48px 21px 48px;
    border: none;
}
