/*Variables*/ 

$lightgray: #f7f7f7;
$mediumgray: #f2f2f2;
$darkengray: #888888;
$greyblack: #383838;
$colorprimary: #9356DC;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$white: #fff;
$pinklight: #f5edff;
$black: #000000;
$bars: 7;
$anim-duree: 900ms;
$anim-delay: calc($anim-duree / $bars);